.main {
  min-height: 700px;
 
 
}

.main section {
  padding: 100px 0px 0px 0px;
  background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8);
}

.main .firstBlock {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: auto;
  align-items: center;
}



.firstBlock h1 {
  color: #fff;
  font-size: 64px;
  margin: 20px 0px;
}

.main .whyUs h2 {
  color: #373737;
  font-size: 64px;
  margin: 20px 0px;
}

.firstBlock p {
  color: #fff;
  margin: 20px 0px;
  line-height: 30px;
}

.block {
  max-width: 645px;
}

.block img {
  width: 100%;
  height: 100%;
}

.imageText {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main .whyUs {
  display: flex;
  justify-content: space-between;
  max-width: 1290px;
  margin: auto;
  align-items: center;
}

.whyUs .chunks {
  max-width: 645px;
}

.whyUs .chunks img {
  width: 100%;
  height: 100%;
}

.basic {
  min-height: 700px;
  max-width: 1290px;
  margin: auto;
}

.basic h1 {
  font-size: 64px;
  color: #373737;
  margin: 50px 0px;
 
}

.basic button {
  margin: 50px 0px;
}

.descriptions label {
  /* word-break: break-word; */
  word-break: keep-all !important;

}

.descriptions  {
  /* word-break: break-word; */
  word-break: keep-all !important;

}

.icon {
  margin-right: 10px;
}

.button {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  /* background-color: #fb8500; */
  background-color: coral;
  color: #fff;
  margin: 20px 0px;
  border-radius: 7px;
  border: none;
  font-weight: 500;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  box-shadow: 0 4px 14px 0 rgba(23, 31, 41, 0.39);
  cursor: pointer;
}
.button:hover {
  transform: scale(1.05);
}
.button:focus {
  outline: none;
  transform: scale(0.95);
}
.chunk {
  background-color: #fff;
  box-shadow: 0 4px 14px 0 rgba(23, 31, 41, 0.39);
  padding: 8px 16px;
  margin: 15px 0px;
  border-radius: 7px;
  text-align: center;
}

.chunk:nth-child(1) {
  margin-left: 20px !important;
}

.chunk:nth-child(2) {
  margin-right: 20px !important;
}

.chunk span {
  font-weight: 700;
  font-size: 22px;
}

.star {
  color: #fb8500 !important;
}



.chunk p {
  color: #373737 !important;
  margin: 0px !important;
}

/* Dots  */
.dottedArea {
  background: linear-gradient(90deg, #fff 21px, transparent 1%) center,
    linear-gradient(#fff 21px, transparent 1%) center, #252525;
  background-size: 23px 23px;
  padding: 100px;
  max-width: 1290px;
  margin: auto;
}



/* Mobile */
@media (max-width: 700px) {
  .main .firstBlock, .main .whyUs {
    flex-direction: column;
    padding: 0px 15px;
  }

  
.main section {
  padding: 30px 0px 0px 0px;

}

  .firstBlock h1 {
    font-size: 32px;
    margin: 10px 0px;
  }

  .main .whyUs h2 {
    font-size: 32px;
    margin: 10px 0px;
  }


  .basic {
    padding: 0px 15px;
  }
  
  .basic h1 {
    font-size: 32px;
    
   
  }
  

 
}
